Source: libunistring
Priority: optional
Maintainer: Andreas Rottmann <rotty@debian.org>
Build-Depends: cdbs, debhelper (>= 7), autotools-dev
Standards-Version: 3.8.4
Section: libs
Homepage: http://www.gnu.org/software/libunistring/

Package: libunistring-dev
Section: libdevel
Architecture: any
Depends: libunistring0 (= ${binary:Version}), ${misc:Depends}
Description: Unicode string library for C - development files
 The 'libunistring' library implements Unicode strings (in the UTF-8,
 UTF-16, and UTF-32 encodings), together with functions for Unicode
 characters (character names, classifications, properties) and
 functions for string processing (formatted output, width, word
 breaks, line breaks, normalization, case folding, regular
 expressions).
 .
 This package contains the development support files needed to compile
 and link against libunistring, as well as the documentation in Info
 and HTML format.

Package: libunistring0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Unicode string library for C
 The 'libunistring' library implements Unicode strings (in the UTF-8,
 UTF-16, and UTF-32 encodings), together with functions for Unicode
 characters (character names, classifications, properties) and
 functions for string processing (formatted output, width, word
 breaks, line breaks, normalization, case folding, regular
 expressions).
 .
 This package contains the shared library.
